<%- include("include/headerdashboard") -%>
    <!--------------------Nav------------------------>
    <div class="dashboard">
        <div class="container-fluid">
            <div class="row main-row">

              <%- include("include/navdashboard") -%>

                <!--------- col 10  transaction bars------------>
                <div class="col-md-10 col-sm-12 info-bar">
                <% if(user.proof.faceMatchResult != "APPROVE"){%>
                  
                  <%- include("include/onboard") -%>

                <%}else{%>

                    <!--EXCHANGE BAR -->
                    <div class="row exchange-main-bar" id="exchange-bar">
                    <h4 class="sub-title text-center">Transfer details</h4>
                    <div class="col-sm-12 col-md-12 exchange-bar">
                        <div class=" row first-currency-item">
                                <div class="col-5 first-currency-item-div text-start">
                                    <div class="yousend"><h6>You send</h6></div>
                                    <input class="send-amount" name="sendAmount" id="send-amount" type="number" placeholder="0.00" min="0" max="10">
                                </div>

                                <div class="col-3 text-center first-currency-item-flag-div">
                                    <img id="baseFlag" src="https://flagcdn.com/gb.svg" width="40" alt="South Africa">
                                 </div>

                                    <div class="col-4 text-center first-currency-item-code-div">
                                        <select name="sendCurrency" class="select" id="sendCurrency">
                                            <option value="GBP" selected>GBP</option>
                                            <!-- <option value="USD">USD</option>
                                            <option value="GHS">GHS</option>
                                            <option value="KEN">KEN</option>
                                            <option value="NGN">NGN</option> -->
                                        </select>
                                 </div>
                            </div>

                            <div class=" row second-currency-item">
                                <div class="col-5 text-start second-currency-item-div">
                                    <div class="yousend"><h6 >They get</h6></div>
                                    <input class="take-amount" name="takeAmount" type="number" id="take-amount" placeholder="0.00" min="0" max="10">
                                </div>
                                <div class="col-3 second-currency-item-flag-div">
                                    <img id="takeFlag" src="https://flagcdn.com/ng.svg" width="40" alt="South Africa">
                                 </div>

                                <div class="col-4 text-center second-currency-item-code-div">
                                    <select class="select" name="takeCurrency" id="takeCurrency">
                                        <option value="NGN" selected>NGN</option> 
                                        <!-- <option value="GHS">GSH</option>
                                        <option value="KEN">KEN</option> -->
                                        <!-- <option value="GBP">GBP</option> -->
                                        <!-- <option value="USD">USD</option> -->
                                    </select>
                            </div>

                            </div> 
                            <p style="color:#868686"><span id="rateValue"><strong></strong></span></p>
                            <% if(user.status==true){ %>
                                <div class="row">
                                    <button class="btn-send" id="btn-send" disabled> complete </button>
                                </div>
                             <%}else{%>
                                <div class="row">
                                    <button class="btn btn-secondary" disabled>Kindly complete your profile</a></button>
                                </div>
                            <%}%>
                        </div>
                    </div>
                    


                        <!-- Transaction table -->
                        <div class="row tran" id="tran">
                            <div class="tran-header">
                                <h4 class="sub-title text-center">Transaction History</h4>
                                <div class="tran-his">
                                    <%if(user.transaction.length==0){%>
                                        <h6 class="text-center">No transaction made</h6>
                                        <%}else{%>
                                    <table class="table table-hover">
                                        <thead>
                                        <th>Date</th>
                                        <th>£</th>
                                        <th>Status</th>
                                        <th>Amount</th>
                                        </thead>                                       
                                        
                                        <% for (let i=user.transaction.length-1; i>=0; i--){%>
                                        <tbody>
                                            <tr>
                                                <td><%= user.transaction[i].date %></td>
                                                <td> <%= user.transaction[i].sendAmount/100 %> <%= user.transaction[i].sendCurrency %> </td>
                                                <td> <%= user.transaction[i].sendStatus %> </td>
                                                <td><%= user.transaction[i].takeAmount %> <%= user.transaction[i].takeCurrency %></td>
                                            </tr>
                                        </tbody>
                                        <%}%>
                                        
                                    </table>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                        <!-- ---------------------- -->

                     <!-- select receiver -->
                     <div class="rec-main-bar " id="rec-bar">
                            <h4 class="sub-title text-center">Select Receiver</h4>
                            <p class="alert alert-light text-center">Click on the receiver to select</p>

                            <div class="row rec-bar">
                            <% if (user.receiver.length==0){%>
                                <div class="text-center" style="padding-bottom: 10px;">
                                <!-- <p class="text-center">No receiver yet</p> -->
                                <p class="alert-success alert" role="alert">No receiver added</p>
                                </div>
                                
                              <%}else{ for(let i=0; i<user.receiver.length; i++){%>
                                <div class="col-md-6 receiver " style="padding-bottom: 20px;"> 
                                    <div class="rec-details">
                                      <h6 class="account-details">Name: <span class="account-details-value acctName"><%=user.receiver[i].acctName%></span></h6>
                                      <h6>Account No:<span class="account-details account-details-value acctNumber"><%=user.receiver[i].acctNumber%></span></h6>
                                      <p class="account-details account-details-value bank"><%=user.receiver[i].bankRealName%></span></p>
                                      <input type="hidden" class="bankCode" value="<%=user.receiver[i].bankName%>">
                                    </div>
                                </div>
                         <%}}%>    
                         <div style="margin-bottom: 5px;" > <a class="text-start" href="/receiver">Add Receiver</a></div>
                         <div class="buttons"><button class="btn btn-dark btn-md" id="back">Back</button></div>
                        </div>                          
                     </div>

                    <!-- select card option -->
                    <div class="rec-main-bar" id="pay-option">
                    <h4 class="text-center sub-title">Select Payment Option</h4>
                    <p class="alert alert-light text-center">Click on the paryment option to select</p>
                        <div class="row rec-bar">
                            <% if (user.cardDetails.length==0){%>
                                <div class="text-center" style="padding-bottom: 10px;">
                                <p class="alert alert-success">No card added yet </p>
                                </div>
                            <%}else{ for(let i=0; i<user.cardDetails.length; i++){%>
                            <div class="col-md-6 paymentOption" style="padding-bottom: 20px;">
                                <div class="rec-details">
                                    <h6 class="cardName"><%=user.cardDetails[i].cardOwner%></h6>
                                    <p class="cardNumber">*************<%=user.cardDetails[i].cardNumberEnding%></p>
                                </div>
                            </div>
                            <%}}%> 
                            <div style="margin-bottom: 5px;" > <a class="text-start" href="/receiver">Add Receiver</a></div>
                            <div class="buttons"><button class="btn btn-dark btn-md" id="back-again">Back</button></div>
                        </div>
                    </div>

                    <!-- payment confirmation preview -->
                    <div class="rec-main-bar" id="summary">
                        <h4 class="text-center sub-title">Confirm Details</h4>
                            <div class="row rec-bar">
  
                                <div class="col-md-6  " style="padding-bottom: 20px;">
                                    <div class="rec-details">
                                        <h6 class="text-center sub-title">Amount</h6>
                                      <h6 class="account-details">You send: <span class="account-details-value sendAmount"></span></h6>
                                      <h6 class="account-details">They get: <span class="account-details-value takeAmount"></span></h6>
                                    </div>
                                </div>

                                <div class="col-md-6  " style="padding-bottom: 20px;">
                                    <div class="rec-details">
                                        <h6 class="text-center sub-title">Receiver</h6>
                                      <h6 class="account-details">Name: <span class="account-details-value cAcctName"></span></h6>
                                      <h6 class="account-details">Account No.: <span class="account-details-value cAcctNumber"></span></h6>
                                      <h6 class="account-details">Bank: <span class="account-details-value cBank"></span></h6>
                                    </div>
                                </div>

                                <div class="col-md-6 " style="padding-bottom: 20px;">
                                    <div class="rec-details">
                                        <h6 class="text-center sub-title">Card option</h6>
                                        <h6 class="cCardName"></h6>
                                        <p class="cCardNumber"></p>
                                        <p></p>
                                    </div>
                                </div>
                   
                                <div class="buttons">
                                    <button class="btn btn-dark btn-md" id="back-last">Back</button>
                                    <button class="btn btn-success btn-md" id="send-money">Send</button>
                                </div>

                            </div>
                    </div>
                    <%}%>
                <!-- -----------------------end------------- -->
              </div>
            </div>
        </div>
    </div>

    <!-- ---------------------------------------------------- -->

    <%- include("include/footerdashboard") -%>