<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acount</title>
    <link rel="icon" type="image/png" href="images/icon.png">
    <!-- Font awsome -->
    <script src="https://kit.fontawesome.com/cbf7b60e46.js" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- default style  -->
    <link href="style/dash.css" rel="stylesheet">
    <!-- Jquaery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </head>
  <body>

    <!--------------------Nav------------------------>
    <div class="dashboard">
        <div class="container-fluid">
            <div class="row main-row">

              <%- include("include/navdashboard") -%>


                <!--------- Receiver bars------------>
                <div class="col-md-10 col-sm-12 info-bar">
                        <h4 class="sub-title text-center"> Payment References</h4>
                          <div class="row rec-section" id="rec-section"> 
                              <% if (receiver.length ==0){%>
                                <div class="div rec-section-bar">
                                <h6 class="text-center">No receiver added</h6>
                                <!-- <p class="text-center notice">Kindly press the button to add receiver below</p> -->
                              </div>
                              <%}else{ %>
                                <h6 class="text-center">Receivers</h6>  
                                <%for(let i=0; i<receiver.length; i++){%>
                                  <div class="col-md-6 " style="padding-bottom: 20px; padding-left: 0;">
                                      <div class="accoutn-details-bar" id="account-details-bar<%=i%>">
                                        <h6 class="account-details"><span class="account-details-value" id="nameOnAccount"><%=receiver[i].acctName%> </span></h6>
                                        <h6><span class="account-details-value account-number-value" id="acctNumber<%=i%>"><%=receiver[i].acctNumber%></span></h6>
                                        <p class="account-details"><span class="account-details-value"><%=receiver[i].bankRealName%></span></p>
                                        <button class="btn btn-danger btn-sm remove" id="remove<%=i%>">Remove</button>
                                      </div>
                                  </div>
                                <%} }%>   

                        <!-- add another receiver -->
                        
                            <div class="col-md-12 rec-form-bar" id="addrec-bar">
                                <div class="col-md-12 add-rec">
                                  <form method="POST">
                                    <div class="mb-2">
                                      <label>Account Number</label>
                                        <input type="number" name="acctNumber" class="form-control inputs" id="accountNumber" required>
                                      </div>

                                      <div class="mb-2">
                                        <label>Bank Name</label>
                                        <select name="bankName" class="form-select" id="bankName" required></select>
                                      </div>

                                      <h6 id="account-msg" class="" role="alert"></h6>

                                      <a id="confirm-btn" class="btn btn-outline-dark btn-sm">Confirm</a>
                                      <button type="submit" class="btn btn-success btn-sm btn-addAccount" id="btn-addAccount" disabled>Add Account</button>
                                    </form>
                                </div>
                            </div>
                            
                            <div class="add-rec-btn"><button id="rec-add-btn" class="btn btn-outline-dark btn-sm">Click to add receiver</button></div>
                      </div>
                       


                        <!-- Card payment method -->
                      <div class="row rec-section" id="rec-section"> 
                        <p class="text-center alert alert-dark" role="alert">Details 100% secured</p>
                          <% if (card.length ==0){%>
                            <div class="div rec-section-bar">
                            <h5 class="text-center notice">No card added</h5>
                          </div>
                          <%}else{%>
                            <h5 class="text-center" id="card">Payment Methods</h5> 
                            <% for(let i=0; i<card.length; i++){%>
                              <div class="col-md-6 " style="padding-bottom: 20px; padding-left: 0;">
                                  <div class="accoutn-details-bar">
                                    <h6 class="account-details"><span class="account-details-value" id="cardName<%=i%>"><%=card[i].cardOwner%></span></h6>
                                    <p class="account-details"><span class="account-details-value" id="cardDigit<%=i%>">xxxxxxxxxxxxx<%=card[i].cardNumberEnding%></span></p>
                                    <button class="btn btn-danger btn-sm removeCard">Remove</button>
                                  </div>
                              </div>
                            <%} }%>   

                    <!-- add another card -->
                    
                        <div class="col-md-12 rec-form-bar" id="addrec-bar">
                                  <div class="col-md-12" id="card-details-bar">
                                      <form method="POST" action="/addCard" >
                                      <div class="mb-2">
                                        <label>Name on card</label>
                                        <input type="text" name='cardName' class="form-control inputs" id="nameOnCard" required>
                                      </div>

                                      <div class="mb-2">
                                        <label>Card number</label>
                                        <input type="text" name="cardNumber" class="form-control inputs" id="cc-number" maxlength="16" required >
                                      </div>

                                      <div class="mb-2">
                                          <label>Expiration</label>
                                          <input type="text" name="expDate" class="form-control inputs" id="expiry-date" maxlength="5" required  >
                                      </div>
                                      

                                      <div class="mb-2">
                                        <label>CVV</label>
                                        <input type="text" name="cvv" class="form-control inputs" id="cvv" maxlength="3" required >
                                    </div>

                                      <div class="mb-2">
                                        <button type="submit" class="btn btn-success btn-md" id="btn-addCard">Add</button>
                                      </div>
                                </form>
                              </div>
                        </div>
                          <h6 id="card-msg" class="alert alert-danger" role="alert"></h6>
                        <div class="add-rec-btn"><button id="add-card" class="btn btn-outline-dark btn-sm">Click to add card</button></div>
                  </div>
                  
                <!-- -----------------------end------------- -->

            </div>
        </div>
    </div>

    <!-- ---------------------------------------------------- -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="js/receiver.js"></script>
</body>
</html>